{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CIVI</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'automa/estilos.css' %}">
    <link rel="icon" href="{% static 'automa/favicon.ico' %}" type="image/x-icon">
</head>
<body>

    <!-- 🎥 Video de fondo -->
    <video autoplay muted loop id="video-fondo">
        <source src="{% static 'automa/fondo.mp4' %}" type="video/mp4">
        Tu navegador no soporta el video de fondo.
    </video>

    <h1 class="titulo animado"> CENTRO INTEGRAL DE VALIDACION DE IDENTIDAD </h1>

    <div class="contenedor-central">
        <fieldset class="ajustado">
            <legend> INGRESE DATOS DE SU CONSULTA </legend>

            <div style="text-align:center;"> 
                <label for="tipo_de_documento">TIPO DE DOCUMENTO:</label>
                <select class="milista1" id="tipo_de_documento"> 
                    <option value="CC">CÉDULA DE CIUDADANÍA</option>
                    <option value="CE">NIT</option>
                </select>

                <br><br>

                <label for="nombre_de_id">NOMBRE:</label>
                <input type="nameId" id="nombre_de_id" name="nombre_de_id">
                <br><br>
                <label for="numero_de_documento">NÚMERO ID:</label>
                <input type="number" id="numero_de_documento" name="numero_de_documento">

                <br><br>

                <button class="boton-animado" onclick="buscarPN()">Enviar</button>
                <br><br>
                
                <a href="{% url 'listar_archivos' %}">
                    <button type="button" class="boton-animado">📂 Ver Descargas</button>
            </div>
        </fieldset>
    </div>

    <!-- 🧾 Contenedor para mostrar resultados -->
    <div id="resultados" style="text-align:center; margin-top:20px;"></div>

    <!-- JS -->
    <script src="{% static 'automa/script.js' %}"></script>
</body>
</html>
